CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-ss-01=y

CONFIG_ATH11K_MEM_PROFILE_512M=y
CONFIG_NSS_FIRMWARE_VERSION_12_5=y
CONFIG_PACKAGE_luci-app-athena-led=n
CONFIG_PACKAGE_luci-i18n-athena-led-zh-cn=n

CONFIG_PACKAGE_nginx-full=n
CONFIG_PACKAGE_logrotate=n
CONFIG_PACKAGE_luci-app-openlist2=n

### Aria2配置项 ###

CONFIG_PACKAGE_ariang=n
CONFIG_PACKAGE_luci-app-aria2=n

CONFIG_ARIA2_OPENSSL=n
# CONFIG_ARIA2_GNUTLS is not set
# CONFIG_ARIA2_NOSSL is not set
# CONFIG_ARIA2_LIBXML2 is not set
CONFIG_ARIA2_EXPAT=n
# CONFIG_ARIA2_NOXML is not set
CONFIG_ARIA2_BITTORRENT=n
CONFIG_ARIA2_METALINK=n
CONFIG_ARIA2_SFTP=n
CONFIG_ARIA2_ASYNC_DNS=n
# CONFIG_ARIA2_COOKIE is not set
CONFIG_ARIA2_WEBSOCKET=n
